In [3]:
# linear regression for multiple varialbles
from matplotlib import pyplot as plt
import pandas as pd

In [15]:
#import data file
df = pd.read_csv('homeprices.csv')

In [16]:
df.isnull().sum()

area        0
bedrooms    1
age         0
price       0
dtype: int64

In [18]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [21]:
bed_null = df.bedrooms.mean()

In [22]:
bed_null = round(df.bedrooms.mean())

In [23]:
bed_null

4

In [26]:
df.bedrooms.fillna(bed_null)

0    3.0
1    4.0
2    4.0
3    3.0
4    5.0
5    6.0
Name: bedrooms, dtype: float64

In [27]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [29]:
df.bedrooms = df.bedrooms.fillna(bed_null)

In [30]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [33]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(df[['area','bedrooms','age']],df.price)

LinearRegression()

In [34]:
model.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [35]:
model.intercept_

221323.00186540396

In [36]:
model.predict([[2000, 3, 60]])

/home/snaek/playground/mla/env/lib/python3.8/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([321711.45146551])

In [37]:
# saving the model - `1 - pickle, 2 - joblib from sklearn
import pickle

In [38]:
with open ('regression-model-pickle','wb') as f:
        pickle.dump(model, f)

In [39]:
with open('regression-model-pickle','rb') as f:
    model1 = pickle.load(f)

In [40]:
model1.predict([[8000,2,60]])

/home/snaek/playground/mla/env/lib/python3.8/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([970697.22304038])

In [41]:
# Using Joblib to save model
from joblib import dump, load

In [42]:
dump(model, 'regression-model-joblib')

['regression-model-joblib']

In [43]:
model2 = load('regression-model-joblib')

In [44]:
model2.predict([[6000,4,2]])

/home/snaek/playground/mla/env/lib/python3.8/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([980789.7380127])