In [1]:
# importing important libraries
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, classification_report
from sklearn.model_selection import GridSearchCV

In [2]:
# reading csv file in to dataframe
data = pd.read_csv('mtcars.csv')

In [3]:
data.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [26]:
enc = LabelEncoder()
data.model = enc.fit_transform(data.model)
data.cyl = enc.fit_transform(data.cyl)
data.disp = enc.fit_transform(data.disp)
data.hp = enc.fit_transform(data.hp)
data.mpg = enc.fit_transform(data.mpg)

In [27]:
data

    model  mpg  cyl  disp  hp  drat     wt   qsec  vs  am  gear  carb
0      17   15    1    12  10  3.90  2.620  16.46   0   1     4     4
1      18   15    1    12  10  3.90  2.875  17.02   0   1     4     4
2       4   18    0     5   5  3.85  2.320  18.61   1   1     4     1
3      12   16    1    15  10  3.08  3.215  19.44   1   0     3     1
4      13   12    2    22  14  3.15  3.440  17.02   0   0     3     2
5      30   11    1    14   8  2.76  3.460  20.22   1   0     3     1
6       6    2    2    22  19  3.21  3.570  15.84   0   0     3     4
7      20   19    0    11   1  3.69  3.190  20.00   1   0     4     2
8      19   18    0     9   6  3.92  3.150  22.90   1   0     4     2
9      21   13    1    13  12  3.92  3.440  18.30   1   0     4     4
10     22   10    1    13  12  3.92  3.440  18.90   1   0     4     4
11     23    8    2    16  15  3.07  4.070  17.40   0   0     3     3
12     24    9    2    16  15  3.07  3.730  17.60   0   0     3     3
13     25    5    2    16  15  3.07  3.780  18.00   0   0     3     3
14      1    0    2    26  16  2.93  5.250  17.98   0   0     3     4
15     14    0    2    25  17  3.00  5.424  17.82   0   0     3     4
16      3    3    2    24  18  3.23  5.345  17.42   0   0     3     4
17      8   23    0     2   3  4.08  2.200  19.47   1   1     4     1
18     11   22    0     1   0  4.93  1.615  18.52   1   1     4     2
19     28   24    0     0   2  4.22  1.835  19.90   1   1     4     1
20     29   17    0     6   7  3.70  2.465  20.01   1   0     3     1
21      5    6    2    19  13  2.76  3.520  16.87   0   0     3     2
22      0    5    2    18  13  3.15  3.435  17.30   0   0     3     2
23      2    1    2    20  19  3.73  3.840  15.41   0   0     3     4
24     26   13    2    23  14  3.08  3.845  17.05   0   0     3     2
25      9   21    0     3   3  4.08  1.935  18.90   1   1     4     1
26     27   20    0     7   4  4.43  2.140  16.70   0   1     5     2
27     15   22    0     4  11  3.77  1.513  16.90   1   1     5     2
28     10    7    2    21  20  4.22  3.170  14.50   0   1     5     4
29      7   14    1    10  14  3.62  2.770  15.50   0   1     5     6
30     16    4    2    17  21  3.54  3.570  14.60   0   1     5     8
31     31   16    0     8   9  4.11  2.780  18.60   1   1     4     2

In [50]:
# spitting the dataset to train and test
X = data.iloc[:,2:4]
y = data.mpg
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=10)

In [51]:
X_train.shape

(22, 2)

In [52]:
y_train.shape

(22,)

In [57]:
model = SVC(kernel='rbf',C=2,gamma=0.1)
model.fit(X_train, y_train)
model.get_params()

{'C': 2,
 'break_ties': False,
 'cache_size': 200,
 'class_weight': None,
 'coef0': 0.0,
 'decision_function_shape': 'ovr',
 'degree': 3,
 'gamma': 0.1,
 'kernel': 'rbf',
 'max_iter': -1,
 'probability': False,
 'random_state': None,
 'shrinking': True,
 'tol': 0.001,
 'verbose': False}

In [59]:
y_predict = model.predict(X_test)
print(accuracy_score(y_test,y_predict))

0.0